.bar-per{
    position:relative;
    bottom:8px;
}
.bar-img{
    width:1497px;
    height:750px;
}
.back-img{
    width:1497px;
    height:750px;
    background-color:#5522CC;
    background-image:linear-gradient(to bottom right,#ED4690,#5522CC);
    position: absolute;
    bottom:166px;
    opacity:90%;
}
.logo{
    width: 152.75px;
    height: 38.56px;
    position: absolute;
    bottom: -54px;
    top: 28px;
    left: 143px;
}
ul{
    list-style-type:none;
    list-style-position: inherit;
}
ul li {
    display:inline;
    margin:35px;
    font-family:sans-serif;
    font-weight:500;
    cursor: pointer;
    position: relative;
    bottom: 744px;
    left: 820px;
    color:#fff;
}
ul li a{
    text-decoration:none;
    color: #fff;
}
.login-butt button{
    margin:35px;
    font-family:sans-serif;
    font-weight:500;
    cursor: pointer;
    position: relative;
    bottom: 822px;
    left: 1225px;
    width:113.62px;
    height:41px;
    background:none;
    outline:none;
    border:3px solid #fff ;
    border-radius:50px;
    color:#fff;
    font-weight:500;
}
.img-kpop{
    position:absolute;
    left:200px;
    top:200px;
}
.sbs-mtv{
    position:absolute;
    left:900px;
    top:250px;
    font-size:40px;
    font-family:Proxima Nova,sans-serif    ;
    color:#fff;
    line-height:48.72px;

}
.look-no{
    position:absolute;
    left:900px;
    top:388px;
    font-size:18px;
    font-family:Proxima Nova,sans-serif    ;
    color:#fff;
    line-height:22.4px;
}
.butt-bott button{
    position: relative;
    bottom: 455px;
    left: 842px;
    margin: 20px;
    width:182px;
    height:60px;
    border-radius:50px;
    outline: none;
    font-weight:bold;
    font-size:18px;
    color: #fff;
    cursor: pointer;
}
.get{
    border:1px solid #F5167E;
    background:#F5167E;
}
.Learn{
    border:2px solid #fff;
    background:none;
}
.search{
    width:1086px;
    height:140px;
    background-color:#242565;
    border:1px solid #242565;
    border-radius:20px;
    position: absolute;
    left:177px;
    top: 650px;
    box-shadow: 0px 6px 20px 10px #242565;
}
.search input,select{
    margin-top: 25px;
    width: 289px;
    height: 65px;
    background:none;
    border:none;
    border-bottom:1px solid #7778B0;
    font-size:22px;
    font-family:sans-serif;
    color:#fff;
    outline:none;
}
select option{
    color:black;
}
.search input::placeholder{
    font-size:22px;
    font-family:sans-serif;
    color:#fff;
    font-weight: 500;
    
}
label{
    color:#fff;
    font-size:16px;
    font-family:sans-serif;
    font-weight: 200; 
}
.place{
    position: relative;
    bottom: 33px;
    left: 47px;
}
.time{
    position: relative;
    bottom: 33px;
    left: 38px;
}
.event{
    position: relative;
    bottom: 33px;
    left: 99PX;
    
}

.Upcoming-Events h1{
    color:#242565;
    font-family:sans-serif;
    font-size:40px;
    margin-left: 139px;
    margin-top: 19px;
   
}
.Upcoming-Events select{
    background-color: #F2F4FF;
    color:#1D275F;
    border: 1px solid #F2F4FF;
    border-radius:50px;
    width:168px;
    height:46px;
    font-size:14px;
    padding-left:50px;
  
}
.Upcoming-Events{
    display:inline-flex;
    justify-content:space-between;
    width: 1341px;

}
.Upcoming-img{
    width:1086px;
    height:949px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
margin:30px 0px 0px 114px;
}
.Upcoming-img img{
    width:300px;
    height:334.52;
    margin:20px;
}
.upcoing-text{
    width: 211px;
    height: 44px;
}
.imge p{
    padding-left: 97px;
    margin-top: -21px;
    font-weight:500;
    font-family: sans-serif;
}
