*{
    font-family:sans-serif;
    scrollbar-width:none;
}
body{
    width:1522px;
}
.bar-per{
    position:relative;
    bottom:8px;
}
.bar-img{
    width:1504px;
    height:750px;
}
.back-img{
    width:1503px;
    height:750px;
    background-color:#5522CC;
    background-image:linear-gradient(to bottom right,#ED4690,#5522CC);
    position: absolute;
    bottom:166px;
    opacity:90%;
}
.logo{
    width: 152.75px;
    height: 38.56px;
    position: absolute;
    bottom: -54px;
    top: 28px;
    left: 143px;
}
ul{
    list-style-type:none;
    list-style-position: inherit;
}
ul li {
    display:inline;
    margin:35px;
    font-weight:500;
    cursor: pointer;
    position: relative;
    bottom: 744px;
    left: 820px;
    color:#fff;
}
ul li a{
    text-decoration:none;
    color: #fff;
}
button a{
    text-decoration:none;
    color: #fff;
}
.login-butt button{
    margin:35px;
    font-weight:500;
    cursor: pointer;
    position: relative;
    bottom: 822px;
    left: 1225px;
    width:113.62px;
    height:41px;
    background:none;
    outline:none;
    border:3px solid #fff ;
    border-radius:50px;
    color:#fff;
    font-weight:500;
}
.img-kpop{
    position:absolute;
    left:200px;
    top:200px;
}
.sbs-mtv{
    position:absolute;
    left:900px;
    top:250px;
    font-size:40px;
    color:#fff;
    line-height:48.72px;

}
.look-no{
    position:absolute;
    left:900px;
    top:388px;
    font-size:18px;
    color:#fff;
    line-height:22.4px;
}
.butt-bott button{
    position: relative;
    bottom: 455px;
    left: 842px;
    margin: 20px;
    width:182px;
    height:60px;
    border-radius:50px;
    outline: none;
    font-weight:bold;
    font-size:18px;
    color: #fff;
    cursor: pointer;
}
.get{
    border:1px solid #F5167E;
    background:#F5167E;
}
.Learn{
    border:2px solid #fff;
    background:none;
}
.search{
    width:1086px;
    height:140px;
    background-color:#242565;
    border:1px solid #242565;
    border-radius:20px;
    position: absolute;
    left:177px;
    top: 650px;
    box-shadow: 0px 6px 20px 10px #242565;
}
.search input,select{
    margin-top: 25px;
    width: 289px;
    height: 65px;
    background:none;
    border:none;
    border-bottom:1px solid #7778B0;
    font-size:22px;
    color:#fff;
    outline:none;
}
select option{
    color:black;
}
.search input::placeholder{
    font-size:22px;
    color:#fff;
    font-weight: 500;
    
}
label{
    color:#fff;
    font-size:16px;
    font-weight: 200; 
}
.place{
    position: relative;
    bottom: 33px;
    left: 47px;
}
.time{
    position: relative;
    bottom: 33px;
    left: 38px;
}
.event{
    position: relative;
    bottom: 33px;
    left: 99PX; 
}

.Upcoming-Events h1{
    color:#242565;
    font-size:40px;
    margin-left: 139px;
    margin-top: 19px;
}
.Upcoming-Events select{
    background-color: #F2F4FF;
    color:#1D275F;
    border: 1px solid #F2F4FF;
    border-radius:50px;
    width:168px;
    height:46px;
    font-size:14px;
    padding-left:50px;
}
.Upcoming-Events{
    display:inline-flex;
    justify-content:space-between;
    width: 1341px;
}
.Upcoming-img{
    width:1086px;
    height:949px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    margin:30px 0px 0px 114px;
}
.Upcoming-img img{
    width:300px;
    height:334.52;
    margin:20px;
}
.upcoing-text{
    width: 211px;
    height: 44px;
}
.imge p{
    padding-left: 97px;
    margin-top: -21px;
    font-weight:500;
    line-height:120%;
}
.imge pre{
    margin-left:96px;
    font-size:14px;
    color:#6A6A6A;
    line-height:150%;
}
.imge{
    margin-left:63px;
    box-shadow:0px 17px 29px  grey;
    margin-top:10px;
    border-radius:20px;
    width: 343.05px;
    height: 334.52px;
}
.butt-load{
    margin: 20px;
    width: 182px;
    height: 60px;
    border-radius: 50px;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    color: #3D37F1;
    cursor: pointer;
    border:2px solid #3D37F1;
    background:none;
}
.load{
    width:auto;
    display: flex;
    justify-content:center;
}
.month{
    font-size:11.37px;
    font-weight: 500;
    color: #3D37F1;
}
.day{
    font-size:28.43px;
    font-weight: 500;
}
.APR-14-1{
    position: absolute;
    top: 1386px;
    left: 176px;
}
.AUG-20-1{
    position: absolute;
    top: 1386px;
    left: 574px;
}
.SEP-18-1{
    position: absolute;
    top: 1386px;
    left: 979px;
}
.APR-14-2{
    position: absolute;
    top: 1805px;
    left: 176px;
}
.AUG-20-2{
    position: absolute;
    top:1805px;
    left: 574px;
}
.SEP-18-2{
    position: absolute;
    top:1805px;
    left: 979px;
}
.brand{
    width: 1523px;
    height: 252px;
    background-color:#EEE1FF;
    color:#242565;
}
.brand h1{
    display:flex;
    justify-content:center;
    padding-top:82px;
}
.brand-text{
    color:#6A6A6A;
    display:flex;
    justify-content:center;
    margin:0px;
}
.brand-img img{
    margin:50px;
}
.brand-img {
    display:flex;
}
.edit-size{
    width: 182px;
    height: 68px;
    padding-top: 37px;
}
.blog{
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
}
.blog h1{
  color: #3D37F1;
  font-size:40px;
}
.Blog p{
    font-size: 18px;
    position: relative;
    bottom: 184px;
    left: 520px;
    color:#6A6A6A;
    width:500px;
}
.blog-imge{
    width:1100px;
    height:500px;
    display: flex;
    margin-left:200px;
    margin-top: -143px;
    justify-content:space-around;
}
.blog-imge img{
    width: 343px;
    height: 210px;
    border-radius: 20px;
    
} 
.blog-imge p{
    font-size:20px;
    font-weight: 500;
    line-height:150%;
}
.text-one{
    color: #242565;
    position: relative;
    left: 217px;
    bottom: 296px;
    width: 326px;
    line-height: 150%;

}
.text-toow{
    color: #242565;
    position: relative;
    left: 583px;
    bottom: 530px;
    width: 326px;
    line-height: 150%;
}
.text-three{
    color: #242565;
    position: relative;
    left: 950px;
    bottom: 762px;
    width: 326px;
    line-height:150%;
}
.text-one h6{
    color:#A5A5A5;
}
.text-toow h6{
    color:#A5A5A5;
}
.text-three h6{
    color:#A5A5A5;
}
.Blog{
    height:751px;
}
.footer{
    width:1465px;
    height:441px;
    background-color:#0A075F;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(4,333px 121px 87px 364px);
}

.eventick{
   width: 320px;
   height: 197px;
}
.eventick-image{
    width: 182.44px;
    height: 45.44px;
}
.eventick p{
    font-size:14px;
    line-height:22px;
    font-weight:400;
    color:#F3F3F3;

}
.icon img{
    margin:9px;
}
.Plan-Events{
    width:121px;
    height:159px;
    color:#F3F3F3;
    margin-left: 230px;
}
.Plan-Events h1{
    font-size:18px;
    font-weight:500;
}
.Plan-Events p{
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    
}
.Eventick-2{
    width: 87px;
    height: 243px;
    color:#F3F3F3;
    margin-left: 364px;
    margin-top: -8px;
}
.Eventick-2 p {
    width: 87px;
    height: 196px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;   
}
.Stay-in-the-loop{
    width: 364px;
    height: 267.79px;
    color: #F3F3F3;
    margin-left: 476px;
    margin-top: -8px;
}
.Stay-in-the-loop p{
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
}
.email{
    width: 364px;
    height: 60.79px;
    border-radius:50px;
    background-color:#F1F1F1;
    border:none;
    outline:none;
}
.email::placeholder{
    padding-left:20px;
}
.sub{
    width:149.79px;
    height:46.4px;
    padding: 15.2px 30.4px 15.2px 30.4px;  
    border-radius:50px;
    background-color:#F5167E;
    border:none;
    outline:none;
    font-size: 12.16px;
    font-weight: 400;
    line-height: 15.83px;
    letter-spacing: 0.065em;
    color:#F1F1F1;
    position: relative;
    left: 193px;
    bottom: 56px;
}
.line{
    position: relative;
    top: 348px;
    right: 681px;
    width: 962px;
    height:0px;
}
.Copyright {
    position: relative;
    top: 372px;
    right: 681px;
    width: 962px;
    height:5px;
}
.Copyright p{
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color:#FEFEFE;
}
